<?xml version="1.0"?>
<launch>
    <arg name="laser_enabled" default="true"/>
    <arg name="kinect_enabled" default="false"/>

    <include file="$(find depth_map)/launch/depth.launch"/>
    <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
        <arg name="x" value="0" />
        <arg name="y" value="0" />
        <arg name="laser_enabled" default="false"/>
        <arg name="kinect_enabled" default="true"/>
    </include>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find husky_gazebo)/worlds/clearpath_playpen.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  </launch>